<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Area 13 Group</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="lib/bootstrap.min.css" rel="stylesheet">
	<link href="css/meeting-styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<link href="lib/styles.css" rel="stylesheet">
</head>

<body>

	<header class="navbar navbar-default navbar-static-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
				<a href="/" class="navbar-brand">Home</a>
			</div>
			<nav class="collapse navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<% for (var i = 0; i < nav.length; i++) {%>
						<li>
							<a href="<%=nav[i].Link%>">
								<%=nav[i].Text%>
							</a>
						</li>
						<%}%>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Begin Body -->
	<div class="container">
		<div class="row">
			<div class="col-md-3" id="leftCol">

				<div class="well">
					<ul class="nav nav-stacked" id="sidebar">
						<li><a href="#" id="Monday">Monday</a></li>
						<li><a href="#" id="Tuesday">Tuesday</a></li>
						<li><a href="#" id="Wednesday">Wednesday</a></li>
						<li><a href="#" id="Thursday">Thursday</a></li>
						<li><a href="#" id="Friday">Friday</a></li>
						<li><a href="#" id="Saturday">Saturday</a></li>
						<li><a href="#" id="Sunday">Sunday</a></li>
					</ul>
				</div>

			</div>
			<div class="col-md-9">
				<!--  Meeting Heading -->
			<h3> Really Fancy Site
  			<small class="text-muted">meeting guide</small>
			</h3>
				<!--  Meeting Search -->
				<% include meeting %>
			</div>
		</div>
	</div>



	<!-- script references -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script
	<script src="lib/bootstrap.min.js"></script>
	<script src="js/index.js"></script>
</body>

</html>
