<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Area 13 Group</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/meeting-styles.css" rel="stylesheet">
    <link href="css/meeting-styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="lib/styles.css" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-default navbar-static-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <% for (var i = 0; i < nav.length; i++) {%>
                        <li>
                            <a href="<%=nav[i].Link%>">
                                <%=nav[i].Text%>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Begin Body -->
    <div class="text-center container page-header">
        <h1>Meeting Search</h1>
    </div>
    <div class="container">
        <div class="row">

            <nav class="navbar navbar-default">
                <div class="nav nav-justified navbar-nav">

                    <form class="navbar-form navbar-search" role="search">
                        <div class="input-group">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="label-icon">Search</span>
                            <span class="caret"></span>
                        </button>
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Search By Day</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Search By Title</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <input type="text" class="form-control">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default">
                        GO
                        </button>


                            </div>
                        </div>
                    </form>

                </div>
            </nav>
        </div>
    </div>
    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/meetingSearch.js"></script>
</body>

</html>
