<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Area 13 Group</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/meeting-styles.css" rel="stylesheet">
    <link href="css/meeting-styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="lib/styles.css" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-default navbar-static-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <% for (var i = 0; i < nav.length; i++) {%>
                        <li>
                            <a href="<%=nav[i].Link%>">
                                <%=nav[i].Text%>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Begin Body -->
    <div class="text-center container page-header">
        <h1>Meeting Search</h1>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <form method="POST" action="/MeetingSearch/search">
                    <!--  Meeting Name search box-->
                    <div class="form-group row">
                        <label for="meetingName" class="col-xs-2 col-sm-2 col-form-label">Meeting Name: </label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder=" Title of the meeting" id="meetingName">
                        </div>
                    </div>
                    <!-- Time of meeting -->
                    <div class="form-group row">
                        <label for="time" class="col-xs-2 col-sm-2 col-form-label">Time: </label>
                        <div class="btn-group" style="float:left">
                            <button id="hour-btn" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><b>Hours</b><span id="selected" class="caret"></span></button>
                            <ul id="hour-dropdown" class="dropdown-menu" style="min-width:20px">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#">11</a></li>
                                <li><a href="#">12</a></li>
                            </ul>
                        </div>
                        <div class="btn-group" style="float:left">&nbsp;&nbsp;:&nbsp;&nbsp;</div>
                        <div id="min-dropdown" class="btn-group" style="float:left">
                            <button id="min-btn" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><b>Minutes</b><span class="caret"></span></button>
                            <ul class="dropdown-menu" style="min-width:20px">
                                <li><a href="#">00</a></li>
                                <li><a href="#">15</a></li>
                                <li><a href="#">30</a></li>
                                <li><a href="#">45</a></li>
                            </ul>
                        </div>
                        <div class="btn-group" style="float:left">&nbsp;&nbsp;</div>
                        <div id="period-dropdown" class="btn-group" style="float:left">
                            <button id="period-btn" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><b>Period</b><span class="caret"></span></button>
                            <ul class="dropdown-menu" style="min-width:20px">
                                <li><a href="#">AM</a></li>
                                <li><a href="#">PM</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Radio buttons -->
                    <div id="dayPicker" class="row">
                        <label for="dayPicker" class="col-sm-2 col-form-label">Day: </label>
                        <div class="col-md-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" name="day" type="checkbox" id="monday" value="monday">
                                Monday
                              </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" name="day" type="checkbox" id="tuesday" value="tuesday">
                                Tuesday
                              </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" name="day" type="checkbox" id="wednesday" value="wednesday">
                                Wednesday
                            </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" name="day" type="checkbox" id="thursday" value="thursday">
                                Thursday
                              </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" name="day" type="checkbox" id="friday" value="friday">
                                Friday
                              </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" name="day" type="checkbox" id="saturday" value="saturday">
                                Saturday
                            </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" name="day" type="checkbox" id="sunday" value="sunday">
                                Sunday
                            </label>
                            </div>
                        </div>
                    </div>
                    <button id="meeting-form" type="button" class="btn btn-secondary btn-md">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/meetingSearch.js"></script>
</body>

</html>
